# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Datasets
# =========================
*.csv
*.zip
*.xlsx
*.jsonl

# =========================
# ML models / large files
# =========================
models/
*.pth
*.pt
*.pkl
*.h5
*.keras
*.joblib

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.venv/
venv/

# =========================
# Node.js
# =========================
node_modules/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
